In [363]:
#*******************************IMPORTING DATASET AND STRUCTURING DATA********************************************

In [364]:
import pandas as pd

In [365]:
full_data=pd.read_excel('Training Dataset.xlsx')
partial_data=pd.read_excel('Testing Dataset.xlsx')

In [366]:
full_data

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid,class
0,1237650000000000000,184.567089,-0.266950,16.08831,14.76971,14.30379,14.10942,14.05211,752,301,3,274,2880100000000000000,0.000000,2558,54140,192,GALAXY
1,1237650000000000000,184.625507,-0.284228,18.55387,17.17877,16.67558,16.45720,16.38667,752,301,3,274,2880140000000000000,-0.000121,2558,54140,317,STAR
2,1237650000000000000,184.544377,-0.248444,19.23729,18.03566,17.51354,17.27137,17.14697,752,301,3,274,3722390000000000000,0.000953,3306,54922,587,STAR
3,1237650000000000000,184.640721,-0.411853,19.45190,17.98520,17.17495,16.68955,16.38363,752,301,3,274,324311000000000000,0.107963,288,52000,190,GALAXY
4,1237650000000000000,184.682983,-0.375816,18.94591,18.80760,18.59771,18.40573,18.31001,752,301,3,275,324313000000000000,1.516544,288,52000,195,QSO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,1237650000000000000,184.376657,-0.231992,18.94881,17.90776,17.44820,17.14707,16.92598,752,301,3,273,323144000000000000,0.033931,287,52023,39,GALAXY
2497,1237650000000000000,184.407377,-0.312885,19.52566,17.49581,16.65989,16.33260,16.13819,752,301,3,273,363677000000000000,-0.000021,323,51615,40,STAR
2498,1237650000000000000,184.468480,-0.362121,17.55401,15.89718,15.11835,14.72033,14.37843,752,301,3,273,323142000000000000,0.040323,287,52023,32,GALAXY
2499,1237650000000000000,184.497161,-0.333111,18.74085,17.51748,16.92795,16.58687,16.36819,752,301,3,273,323144000000000000,0.071444,287,52023,38,GALAXY
2500,1237650000000000000,184.515401,-0.398052,18.94465,18.66646,18.56451,18.52342,18.47435,752,301,3,274,323139000000000000,0.788097,287,52023,22,QSO

In [367]:
partial_data

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid,class
0,1237650000000000000,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3722360000000000000,-0.000009,3306,54922,491,NaN
1,1237650000000000000,183.598370,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,363814000000000000,-0.000055,323,51615,541,NaN
2,1237650000000000000,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,323274000000000000,0.123111,287,52023,513,NaN
3,1237650000000000000,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3722370000000000000,-0.000111,3306,54922,510,NaN
4,1237650000000000000,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3722370000000000000,0.000590,3306,54922,512,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7494,1237650000000000000,206.276527,0.043889,18.95813,17.78794,17.33491,17.02222,16.85220,752,301,4,419,337842000000000000,0.076982,300,51943,263,NaN
7495,1237650000000000000,206.340600,0.029009,19.44719,17.48708,16.52227,16.07561,15.69825,752,301,4,419,337846000000000000,0.088202,300,51943,277,NaN
7496,1237650000000000000,206.411169,0.042313,19.35957,18.04267,17.49507,17.19149,17.05745,752,301,4,420,336808000000000000,0.047631,299,51671,597,NaN
7497,1237650000000000000,117.812943,43.587192,18.49110,18.37202,18.70874,18.99179,19.39455,1402,301,4,80,9317990000000000000,0.000050,8276,57067,147,NaN
7498,1237650000000000000,117.634252,43.599410,18.58887,17.17557,16.48242,16.10231,15.82097,1402,301,4,80,488765000000000000,0.032043,434,51885,453,NaN

In [368]:
def classify(x):
    if(x=='GALAXY'):
        return 0
    elif(x=='STAR'):
        return 1
    elif(x=='QSO'):
        return 2

full_data['class_GSQ']=full_data['class'].apply(classify)

In [369]:
full_data

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid,class,class_GSQ
0,1237650000000000000,184.567089,-0.266950,16.08831,14.76971,14.30379,14.10942,14.05211,752,301,3,274,2880100000000000000,0.000000,2558,54140,192,GALAXY,0
1,1237650000000000000,184.625507,-0.284228,18.55387,17.17877,16.67558,16.45720,16.38667,752,301,3,274,2880140000000000000,-0.000121,2558,54140,317,STAR,1
2,1237650000000000000,184.544377,-0.248444,19.23729,18.03566,17.51354,17.27137,17.14697,752,301,3,274,3722390000000000000,0.000953,3306,54922,587,STAR,1
3,1237650000000000000,184.640721,-0.411853,19.45190,17.98520,17.17495,16.68955,16.38363,752,301,3,274,324311000000000000,0.107963,288,52000,190,GALAXY,0
4,1237650000000000000,184.682983,-0.375816,18.94591,18.80760,18.59771,18.40573,18.31001,752,301,3,275,324313000000000000,1.516544,288,52000,195,QSO,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,1237650000000000000,184.376657,-0.231992,18.94881,17.90776,17.44820,17.14707,16.92598,752,301,3,273,323144000000000000,0.033931,287,52023,39,GALAXY,0
2497,1237650000000000000,184.407377,-0.312885,19.52566,17.49581,16.65989,16.33260,16.13819,752,301,3,273,363677000000000000,-0.000021,323,51615,40,STAR,1
2498,1237650000000000000,184.468480,-0.362121,17.55401,15.89718,15.11835,14.72033,14.37843,752,301,3,273,323142000000000000,0.040323,287,52023,32,GALAXY,0
2499,1237650000000000000,184.497161,-0.333111,18.74085,17.51748,16.92795,16.58687,16.36819,752,301,3,273,323144000000000000,0.071444,287,52023,38,GALAXY,0
2500,1237650000000000000,184.515401,-0.398052,18.94465,18.66646,18.56451,18.52342,18.47435,752,301,3,274,323139000000000000,0.788097,287,52023,22,QSO,2

In [370]:
full_data.shape

(2501, 19)

In [371]:
# ***************WE CAN REMOVE A SMALL FRACTION FROM TRAINIG DATA FOR TESTING PURPOSE******************************

In [372]:
from sklearn.model_selection import train_test_split

In [387]:
x_train,x_test,y_train,y_test=train_test_split(full_data.iloc[:,0:17],full_data['class_GSQ'],test_size=0.3)

In [388]:
x_train

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid
1686,1237650000000000000,203.717237,66.687772,19.33181,18.43143,18.25093,18.20638,18.23755,1412,301,4,218,2769870000000000000,-0.000446,2460,54616,559
1479,1237650000000000000,254.910604,61.683662,17.53438,17.52077,17.77567,17.98313,18.10156,1336,301,2,31,395310000000000000,-0.000211,351,51695,434
2210,1237650000000000000,255.566787,59.448805,19.52240,19.40167,19.08533,19.03860,19.03028,1336,301,1,46,397527000000000000,1.170519,353,51703,306
173,1237650000000000000,185.665529,-0.940617,18.17911,16.79212,16.28942,16.08976,15.99025,756,301,1,466,2880110000000000000,-0.000020,2558,54140,220
317,1237650000000000000,194.113156,-1.721930,19.06408,17.82213,17.22701,16.85972,16.64504,1140,301,5,275,380660000000000000,0.120149,338,51694,385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350,1237650000000000000,208.686043,0.115120,17.07391,15.34052,14.56269,14.18955,13.94242,752,301,4,435,339006000000000000,0.029839,301,51942,400
2499,1237650000000000000,184.497161,-0.333111,18.74085,17.51748,16.92795,16.58687,16.36819,752,301,3,273,323144000000000000,0.071444,287,52023,38
1854,1237650000000000000,226.051504,59.252682,17.66062,16.43820,16.45146,16.53053,16.60895,1345,301,5,493,686937000000000000,-0.000801,610,52056,501
1383,1237650000000000000,173.318350,64.794586,17.43927,16.54393,16.26628,16.17604,16.17673,1302,301,4,343,672294000000000000,0.000090,597,52059,481
2119,1237650000000000000,195.778765,68.132326,18.60820,16.87071,15.93746,15.50248,15.15475,1350,301,6,396,557477000000000000,0.106712,495,51988,568

In [389]:
y_train

1686    1
1479    1
2210    2
173     1
317     0
       ..
1350    0
2499    0
1854    1
1383    1
2119    0
Name: class_GSQ, Length: 1750, dtype: int64

In [390]:
#***********************IMPORT AND APPLY RANDOM FOREST ON SLICED TRAINING*****************************************

In [391]:
from sklearn.ensemble import RandomForestClassifier
sammodel=RandomForestClassifier()

In [392]:
sammodel.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [393]:
#**********************************SCORE OF SLICED TESTING DATA****************************************************

In [394]:
sammodel.score(x_test,y_test)

0.9773635153129161

In [395]:
ytest_pred = sammodel.predict(x_test)

In [396]:
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, recall_score

In [397]:
accuracy_score(y_test,ytest_pred)

0.9773635153129161

In [398]:
 y_test

1796    1
2435    1
947     2
1420    0
385     1
       ..
1345    0
485     0
2272    0
2072    1
518     2
Name: class_GSQ, Length: 751, dtype: int64

In [399]:
#******************************SEE WHICH FEATURE HAS LEAST EFFECT ON TRAINING**************************************

In [400]:
pd.Series(sammodel.feature_importances_,index=full_data.columns[0:17]).sort_values(ascending=False)

redshift     0.412164
specobjid    0.134421
plate        0.124736
mjd          0.086436
z            0.059566
i            0.051654
r            0.046419
g            0.036597
u            0.018201
ra           0.007483
field        0.007002
dec          0.006462
fiberid      0.005018
run          0.001922
camcol       0.001919
rerun        0.000000
objid        0.000000
dtype: float64

In [401]:
#**************************** REMOVING LEAST IMPORTANT FEATURE AND TARGET ***************************************

In [421]:
full_data.drop(['camcol','run','rerun','objid','field','fiberid','class','class_GSQ'],axis=1)

,ra,dec,u,g,r,i,z,specobjid,redshift,plate,mjd
0,184.567089,-0.266950,16.08831,14.76971,14.30379,14.10942,14.05211,2880100000000000000,0.000000,2558,54140
1,184.625507,-0.284228,18.55387,17.17877,16.67558,16.45720,16.38667,2880140000000000000,-0.000121,2558,54140
2,184.544377,-0.248444,19.23729,18.03566,17.51354,17.27137,17.14697,3722390000000000000,0.000953,3306,54922
3,184.640721,-0.411853,19.45190,17.98520,17.17495,16.68955,16.38363,324311000000000000,0.107963,288,52000
4,184.682983,-0.375816,18.94591,18.80760,18.59771,18.40573,18.31001,324313000000000000,1.516544,288,52000
...,...,...,...,...,...,...,...,...,...,...,...
2496,184.376657,-0.231992,18.94881,17.90776,17.44820,17.14707,16.92598,323144000000000000,0.033931,287,52023
2497,184.407377,-0.312885,19.52566,17.49581,16.65989,16.33260,16.13819,363677000000000000,-0.000021,323,51615
2498,184.468480,-0.362121,17.55401,15.89718,15.11835,14.72033,14.37843,323142000000000000,0.040323,287,52023
2499,184.497161,-0.333111,18.74085,17.51748,16.92795,16.58687,16.36819,323144000000000000,0.071444,287,52023
2500,184.515401,-0.398052,18.94465,18.66646,18.56451,18.52342,18.47435,323139000000000000,0.788097,287,52023

In [403]:
#******************************AGAIN APPLY RANDOM FOREST WITH LESS FEATURES***************************************

In [404]:
sammodel=RandomForestClassifier(n_estimators=600)

In [410]:
sammodel.fit(x_train.drop(['camcol','run','rerun','objid','field','fiberid'  ],axis=1) ,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=600,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [411]:
#***********************************SCORE PLEASE!!!**************************************************************

In [412]:
sammodel.score(x_test.drop(['camcol','run','rerun','objid','field','fiberid'  ],axis=1),y_test)

0.9786950732356857

In [413]:
ytest_pred = sammodel.predict(x_test.drop(['camcol','run','rerun','objid','field','fiberid'  ],axis=1))

In [409]:
from sklearn.metrics import confusion_matrix
sam_cm=confusion_matrix(y_test,ytest_pred)
sam_cm

array([[345,   2,   5],
       [  0, 329,   0],
       [  8,   1,  61]])

In [ ]:
#***************************************HERE TRAINING IS DONE!!!**************************************************

In [213]:
#***********************************USE TRAINED MODEL TO FILL PARTIAL DATA****************************************

In [414]:
predicted_class_GSQ=sammodel.predict(partial_data.drop(['camcol','run','rerun','objid','field','fiberid','class'],axis=1))
predicted_class_GSQ

array([1, 1, 0, ..., 0, 1, 0])

In [415]:
#***************************************MAKING PROPER RESULT DATA*************************************************

In [416]:
predicted_class=[]
for i in range(len(predicted_class_GSQ)):
    if(predicted_class_GSQ[i]==0 ):
        predicted_class.append('GALAXY')        
    elif( predicted_class_GSQ[i]==1 ):
        predicted_class.append('STAR') 
    elif( predicted_class_GSQ[i]==2 ):
        predicted_class.append('QSO')

In [417]:
partial_data['class']=predicted_class

In [418]:
partial_data

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid,class
0,1237650000000000000,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3722360000000000000,-0.000009,3306,54922,491,STAR
1,1237650000000000000,183.598370,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,363814000000000000,-0.000055,323,51615,541,STAR
2,1237650000000000000,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,323274000000000000,0.123111,287,52023,513,GALAXY
3,1237650000000000000,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3722370000000000000,-0.000111,3306,54922,510,STAR
4,1237650000000000000,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3722370000000000000,0.000590,3306,54922,512,STAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7494,1237650000000000000,206.276527,0.043889,18.95813,17.78794,17.33491,17.02222,16.85220,752,301,4,419,337842000000000000,0.076982,300,51943,263,GALAXY
7495,1237650000000000000,206.340600,0.029009,19.44719,17.48708,16.52227,16.07561,15.69825,752,301,4,419,337846000000000000,0.088202,300,51943,277,GALAXY
7496,1237650000000000000,206.411169,0.042313,19.35957,18.04267,17.49507,17.19149,17.05745,752,301,4,420,336808000000000000,0.047631,299,51671,597,GALAXY
7497,1237650000000000000,117.812943,43.587192,18.49110,18.37202,18.70874,18.99179,19.39455,1402,301,4,80,9317990000000000000,0.000050,8276,57067,147,STAR
7498,1237650000000000000,117.634252,43.599410,18.58887,17.17557,16.48242,16.10231,15.82097,1402,301,4,80,488765000000000000,0.032043,434,51885,453,GALAXY

In [419]:
partial_data.loc[:,['objid','class']]

                    objid   class
0     1237650000000000000    STAR
1     1237650000000000000    STAR
2     1237650000000000000  GALAXY
3     1237650000000000000    STAR
4     1237650000000000000    STAR
...                   ...     ...
7494  1237650000000000000  GALAXY
7495  1237650000000000000  GALAXY
7496  1237650000000000000  GALAXY
7497  1237650000000000000    STAR
7498  1237650000000000000  GALAXY

[7499 rows x 2 columns]

In [420]:
partial_data.loc[:,['objid','class']].to_csv('result.csv')