In [117]:
#*******************************IMPORTING DATASET AND STRUCTURING DATA********************************************

In [118]:
import pandas as pd

In [119]:
full_data=pd.read_excel('Training Dataset.xlsx')
partial_data=pd.read_excel('Testing Dataset.xlsx')

In [120]:
full_data

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid,class
0,1237650000000000000,184.567089,-0.266950,16.08831,14.76971,14.30379,14.10942,14.05211,752,301,3,274,2880100000000000000,0.000000,2558,54140,192,GALAXY
1,1237650000000000000,184.625507,-0.284228,18.55387,17.17877,16.67558,16.45720,16.38667,752,301,3,274,2880140000000000000,-0.000121,2558,54140,317,STAR
2,1237650000000000000,184.544377,-0.248444,19.23729,18.03566,17.51354,17.27137,17.14697,752,301,3,274,3722390000000000000,0.000953,3306,54922,587,STAR
3,1237650000000000000,184.640721,-0.411853,19.45190,17.98520,17.17495,16.68955,16.38363,752,301,3,274,324311000000000000,0.107963,288,52000,190,GALAXY
4,1237650000000000000,184.682983,-0.375816,18.94591,18.80760,18.59771,18.40573,18.31001,752,301,3,275,324313000000000000,1.516544,288,52000,195,QSO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,1237650000000000000,184.376657,-0.231992,18.94881,17.90776,17.44820,17.14707,16.92598,752,301,3,273,323144000000000000,0.033931,287,52023,39,GALAXY
2497,1237650000000000000,184.407377,-0.312885,19.52566,17.49581,16.65989,16.33260,16.13819,752,301,3,273,363677000000000000,-0.000021,323,51615,40,STAR
2498,1237650000000000000,184.468480,-0.362121,17.55401,15.89718,15.11835,14.72033,14.37843,752,301,3,273,323142000000000000,0.040323,287,52023,32,GALAXY
2499,1237650000000000000,184.497161,-0.333111,18.74085,17.51748,16.92795,16.58687,16.36819,752,301,3,273,323144000000000000,0.071444,287,52023,38,GALAXY
2500,1237650000000000000,184.515401,-0.398052,18.94465,18.66646,18.56451,18.52342,18.47435,752,301,3,274,323139000000000000,0.788097,287,52023,22,QSO

In [121]:
partial_data

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid,class
0,1237650000000000000,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3722360000000000000,-0.000009,3306,54922,491,NaN
1,1237650000000000000,183.598370,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,363814000000000000,-0.000055,323,51615,541,NaN
2,1237650000000000000,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,323274000000000000,0.123111,287,52023,513,NaN
3,1237650000000000000,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3722370000000000000,-0.000111,3306,54922,510,NaN
4,1237650000000000000,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3722370000000000000,0.000590,3306,54922,512,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7494,1237650000000000000,206.276527,0.043889,18.95813,17.78794,17.33491,17.02222,16.85220,752,301,4,419,337842000000000000,0.076982,300,51943,263,NaN
7495,1237650000000000000,206.340600,0.029009,19.44719,17.48708,16.52227,16.07561,15.69825,752,301,4,419,337846000000000000,0.088202,300,51943,277,NaN
7496,1237650000000000000,206.411169,0.042313,19.35957,18.04267,17.49507,17.19149,17.05745,752,301,4,420,336808000000000000,0.047631,299,51671,597,NaN
7497,1237650000000000000,117.812943,43.587192,18.49110,18.37202,18.70874,18.99179,19.39455,1402,301,4,80,9317990000000000000,0.000050,8276,57067,147,NaN
7498,1237650000000000000,117.634252,43.599410,18.58887,17.17557,16.48242,16.10231,15.82097,1402,301,4,80,488765000000000000,0.032043,434,51885,453,NaN

In [122]:
def classify(x):
    if(x=='GALAXY'):
        return 0
    elif(x=='STAR'):
        return 1
    elif(x=='QSO'):
        return 2

full_data['class_GSQ']=full_data['class'].apply(classify)

In [123]:
full_data

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid,class,class_GSQ
0,1237650000000000000,184.567089,-0.266950,16.08831,14.76971,14.30379,14.10942,14.05211,752,301,3,274,2880100000000000000,0.000000,2558,54140,192,GALAXY,0
1,1237650000000000000,184.625507,-0.284228,18.55387,17.17877,16.67558,16.45720,16.38667,752,301,3,274,2880140000000000000,-0.000121,2558,54140,317,STAR,1
2,1237650000000000000,184.544377,-0.248444,19.23729,18.03566,17.51354,17.27137,17.14697,752,301,3,274,3722390000000000000,0.000953,3306,54922,587,STAR,1
3,1237650000000000000,184.640721,-0.411853,19.45190,17.98520,17.17495,16.68955,16.38363,752,301,3,274,324311000000000000,0.107963,288,52000,190,GALAXY,0
4,1237650000000000000,184.682983,-0.375816,18.94591,18.80760,18.59771,18.40573,18.31001,752,301,3,275,324313000000000000,1.516544,288,52000,195,QSO,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,1237650000000000000,184.376657,-0.231992,18.94881,17.90776,17.44820,17.14707,16.92598,752,301,3,273,323144000000000000,0.033931,287,52023,39,GALAXY,0
2497,1237650000000000000,184.407377,-0.312885,19.52566,17.49581,16.65989,16.33260,16.13819,752,301,3,273,363677000000000000,-0.000021,323,51615,40,STAR,1
2498,1237650000000000000,184.468480,-0.362121,17.55401,15.89718,15.11835,14.72033,14.37843,752,301,3,273,323142000000000000,0.040323,287,52023,32,GALAXY,0
2499,1237650000000000000,184.497161,-0.333111,18.74085,17.51748,16.92795,16.58687,16.36819,752,301,3,273,323144000000000000,0.071444,287,52023,38,GALAXY,0
2500,1237650000000000000,184.515401,-0.398052,18.94465,18.66646,18.56451,18.52342,18.47435,752,301,3,274,323139000000000000,0.788097,287,52023,22,QSO,2

In [124]:
full_data.shape

(2501, 19)

In [125]:
# ***************WE CAN REMOVE A SMALL FRACTION FROM TRAINIG DATA FOR TESTING PURPOSE******************************

In [126]:
from sklearn.model_selection import train_test_split

In [127]:
x_train,x_test,y_train,y_test=train_test_split(full_data.iloc[:,0:17],full_data['class_GSQ'],test_size=0.2)

In [128]:
x_train

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid
644,1237650000000000000,186.715253,-0.283174,18.35129,17.01887,16.46089,16.21014,16.07045,752,301,3,288,2880080000000000000,0.000349,2558,54140,106
1372,1237650000000000000,210.335917,0.118469,18.64717,17.54050,17.10932,16.88107,16.75879,752,301,4,446,339056000000000000,0.028283,301,51942,582
920,1237650000000000000,119.116904,44.096845,18.37767,16.93336,16.23271,15.86399,15.60077,1350,301,3,96,490919000000000000,0.048619,436,51883,95
817,1237650000000000000,208.047455,1.217620,19.04803,17.99681,17.54051,17.28281,17.17910,1404,301,6,61,337926000000000000,0.116362,300,51943,567
210,1237650000000000000,167.550318,1.224408,17.03579,16.45416,15.93722,15.54505,15.39441,756,301,6,345,313145000000000000,0.094784,278,51900,527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1734,1237650000000000000,166.638631,0.280027,17.27813,15.47776,14.65877,14.25858,13.93961,756,301,4,339,312046000000000000,0.042250,277,51908,624
958,1237650000000000000,229.724687,61.235209,19.55133,18.64397,18.40905,18.32084,18.30078,1412,301,6,301,7860170000000000000,-0.000200,6981,56443,948
98,1237650000000000000,163.015468,0.332457,19.25054,18.17254,17.72412,17.53526,17.44345,756,301,4,315,2689940000000000000,0.000077,2389,54213,589
1745,1237650000000000000,167.193454,0.336895,19.20776,18.05229,17.53319,17.21308,17.02837,756,301,4,343,313128000000000000,0.088654,278,51900,464
2248,1237650000000000000,123.210360,46.217285,19.57240,17.75175,16.90967,16.50525,16.18396,1331,301,5,136,496601000000000000,0.054164,441,51868,289

In [129]:
#*************************************IMPORT AND APPLY RANDOM FOREST**********************************************

In [130]:
from sklearn.ensemble import RandomForestClassifier
sammodel=RandomForestClassifier()

In [131]:
sammodel.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [132]:
sammodel.score(x_test,y_test)

0.9920159680638723

In [133]:
#******************************SEE WHICH FEATURE HAS LEAST EFFECT ON TRAINING**************************************

In [134]:
pd.Series(sammodel.feature_importances_,index=full_data.columns[0:17]).sort_values(ascending=False)

redshift     0.407795
mjd          0.126631
specobjid    0.113832
plate        0.091593
i            0.071952
z            0.056039
r            0.046925
g            0.035651
u            0.021464
ra           0.006305
dec          0.006110
field        0.006006
fiberid      0.005694
run          0.002234
camcol       0.001768
rerun        0.000000
objid        0.000000
dtype: float64

In [135]:
#**************************** REMOVING LEAST IMPORTANT FEATURE AND TARGET ***************************************

In [136]:
full_data.drop(['camcol','run','rerun','objid','class','class_GSQ'],axis=1)

,ra,dec,u,g,r,i,z,field,specobjid,redshift,plate,mjd,fiberid
0,184.567089,-0.266950,16.08831,14.76971,14.30379,14.10942,14.05211,274,2880100000000000000,0.000000,2558,54140,192
1,184.625507,-0.284228,18.55387,17.17877,16.67558,16.45720,16.38667,274,2880140000000000000,-0.000121,2558,54140,317
2,184.544377,-0.248444,19.23729,18.03566,17.51354,17.27137,17.14697,274,3722390000000000000,0.000953,3306,54922,587
3,184.640721,-0.411853,19.45190,17.98520,17.17495,16.68955,16.38363,274,324311000000000000,0.107963,288,52000,190
4,184.682983,-0.375816,18.94591,18.80760,18.59771,18.40573,18.31001,275,324313000000000000,1.516544,288,52000,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,184.376657,-0.231992,18.94881,17.90776,17.44820,17.14707,16.92598,273,323144000000000000,0.033931,287,52023,39
2497,184.407377,-0.312885,19.52566,17.49581,16.65989,16.33260,16.13819,273,363677000000000000,-0.000021,323,51615,40
2498,184.468480,-0.362121,17.55401,15.89718,15.11835,14.72033,14.37843,273,323142000000000000,0.040323,287,52023,32
2499,184.497161,-0.333111,18.74085,17.51748,16.92795,16.58687,16.36819,273,323144000000000000,0.071444,287,52023,38
2500,184.515401,-0.398052,18.94465,18.66646,18.56451,18.52342,18.47435,274,323139000000000000,0.788097,287,52023,22

In [137]:
#******************************AGAIN APPLY RANDOM FOREST WITH LESS FEATURES***************************************

In [138]:
sammodel.fit(sam_train.drop(['camcol','run','rerun','objid','class','class_GSQ'],axis=1) ,sam_train['class_GSQ'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [139]:
sammodel.score(x_test.drop(['camcol','run','rerun','objid'],axis=1),y_test)

1.0

In [140]:
#***********************************USE TRAINED MODEL TO FILL PARTIAL DATA****************************************

In [141]:
predicted_class_GSQ=sammodel.predict(partial_data.drop(['camcol','run','rerun','objid','class'],axis=1))
predicted_class_GSQ

array([1, 1, 0, ..., 0, 1, 0])

In [142]:
#***************************************MAKING PROPER RESULT DATA*************************************************

In [143]:
predicted_class=[]
for i in range(len(predicted_class_GSQ)):
    if(predicted_class_GSQ[i]==0 ):
        predicted_class.append('GALAXY')        
    elif( predicted_class_GSQ[i]==1 ):
        predicted_class.append('STAR') 
    elif( predicted_class_GSQ[i]==2 ):
        predicted_class.append('QSO')

In [144]:
partial_data['class']=predicted_class

In [145]:
partial_data

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid,class
0,1237650000000000000,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3722360000000000000,-0.000009,3306,54922,491,STAR
1,1237650000000000000,183.598370,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,363814000000000000,-0.000055,323,51615,541,STAR
2,1237650000000000000,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,323274000000000000,0.123111,287,52023,513,GALAXY
3,1237650000000000000,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3722370000000000000,-0.000111,3306,54922,510,STAR
4,1237650000000000000,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3722370000000000000,0.000590,3306,54922,512,STAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7494,1237650000000000000,206.276527,0.043889,18.95813,17.78794,17.33491,17.02222,16.85220,752,301,4,419,337842000000000000,0.076982,300,51943,263,GALAXY
7495,1237650000000000000,206.340600,0.029009,19.44719,17.48708,16.52227,16.07561,15.69825,752,301,4,419,337846000000000000,0.088202,300,51943,277,GALAXY
7496,1237650000000000000,206.411169,0.042313,19.35957,18.04267,17.49507,17.19149,17.05745,752,301,4,420,336808000000000000,0.047631,299,51671,597,GALAXY
7497,1237650000000000000,117.812943,43.587192,18.49110,18.37202,18.70874,18.99179,19.39455,1402,301,4,80,9317990000000000000,0.000050,8276,57067,147,STAR
7498,1237650000000000000,117.634252,43.599410,18.58887,17.17557,16.48242,16.10231,15.82097,1402,301,4,80,488765000000000000,0.032043,434,51885,453,GALAXY

In [146]:
partial_data.loc[:,['objid','class']]

                    objid   class
0     1237650000000000000    STAR
1     1237650000000000000    STAR
2     1237650000000000000  GALAXY
3     1237650000000000000    STAR
4     1237650000000000000    STAR
...                   ...     ...
7494  1237650000000000000  GALAXY
7495  1237650000000000000  GALAXY
7496  1237650000000000000  GALAXY
7497  1237650000000000000    STAR
7498  1237650000000000000  GALAXY

[7499 rows x 2 columns]

In [147]:
partial_data.loc[:,['objid','class']].to_csv('result.csv')